@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A9FDAC, #44CF6C);
}
main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #36a555a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #32A287;
    text-align: center;
    text-shadow: 1px 1px 2px #267a67;
}
h2 {
    color: #6C464E;
}
p {
    text-align: justify;
}