@charset "UTF-8";

body {
  background-color: rgb(184, 255, 231);
  font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
  text-align: center;
  background-color: rgb(67, 105, 92);
  color:rgb(184, 255, 231);
}
h1 {
  color: rgb(0, 116, 79);
}

h2 {
  color: rgb(67, 105, 92);
}

.basico {
  color: rgba(30, 170, 17, 0.635);
}

.intermediario {
  color: rgba(155, 171, 19, 0.593);
}

.avancado {
  color: rgba(166, 18, 18, 0.636);
}

.destaque {
  background-color: rgba(111, 64, 31, 0.633);
}