@charset "UTF-8";

body {
    background-color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: chocolate;
    background-color: brown;
    font-size: 1.5em;
}
h2 {
    color: gold;
    font-size: 1.2em;
}
p {
    text-align: justify;
}